<div class="container">
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s4">
					<a href="#leave-one" class="active red-text text-darken-4">
						One Day Leave
					</a>
				</li>
				<li class="tab col s4">
					<a href="#leave-two" class="red-text text-darken-4">
						Multi-Days Leave
					</a>
				</li>
				<li class="tab col s4" >
					<a href="#leave-short" class="red-text text-darken-4">
						Short Leave
					</a>
				</li>
			</ul>
		</div>
		<div id="leave-one" class="col s12 form-aligment">
			<lst-oneday-leave></lst-oneday-leave>
		</div>
		<div id="leave-two" class="col s12 form-aligment">
			<lst-twoday-leave></lst-twoday-leave>
		</div>
		<div id="leave-short" class="col s12 form-aligment">
			<lst-short-leave></lst-short-leave>
		</div>
	</div>
</div>
