<!-- Run loader before get data -->
<lst-loader [isRunning]="isRequesting"></lst-loader>

<!--Reset Password Template-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4 col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="text-center">
                        <h1>LST</h1>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Reset Password</h3>
                    </div>
                    <div class="panel-body" >
                        <form role="form" [formGroup]="resetPasswordForm">
                            <fieldset>
								<div class="form-group">
                                    <input class="form-control"
                                        placeholder="New Password"
                                        type="password"
                                        [(ngModel)]="data.newPassword" 
                                        formControlName="newPassword">
                                    <div class="error" *ngIf="resetPasswordForm.controls.newPassword.errors && resetPasswordForm.controls.newPassword.touched">
                                        <span *ngIf="resetPasswordForm.controls.newPassword.errors.required">
                                            {{ msg?.REQUIRED }}
                                        </span>
                                        <span *ngIf="!resetPasswordForm.controls.newPassword.errors.required && resetPasswordForm.controls.newPassword.errors.minlength">
                                            {{ msg?.PASSWORD_LENGTH }}
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control"
                                        placeholder="Confirm Password"
                                        type="password"
                                        [(ngModel)]="data.confirmPassword" 
                                        formControlName="confirmPassword">
                                    <div class="error" *ngIf="resetPasswordForm.controls.confirmPassword.errors && resetPasswordForm.controls.confirmPassword.touched">
                                        <span *ngIf="resetPasswordForm.controls.confirmPassword.errors.required">
                                            {{ msg?.REQUIRED }}
                                        </span>
                                        <span *ngIf="!resetPasswordForm.controls.confirmPassword.errors.required && resetPasswordForm.controls.confirmPassword.errors.minlength">
                                            {{ msg?.PASSWORD_LENGTH }}
                                        </span>
                                    </div>
                                </div>
                                 <button class="btn btn-lg btn-success btn-block"
	                                [disabled]="!resetPasswordForm.valid"
	                                (click)="savePassword()">
	                                Reset Password
	                            </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col s12">
	<label for="">Password</label>
	<input type="password" 
		   class="validate"
		   name="password" 
		   [(ngModel)]="resetPassword.password" 
		   required 
		   validateEqual="confirmPassword" 
		   reverse="true" 
		   #password="ngModel">
	<small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
		Password is required
	</small>
</div>
<div class="col s12">
	<label for="">Retype password</label>
	<input type="password" 
	 	   class="form-control" 
	 	   name="password_confirmation" 
	 	   [(ngModel)]="resetPassword.password_confirmation" 
		   required 
		   validateEqual="password" 
		   reverse="false" 
		   #confirmPassword="ngModel">
	<small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
		Password mismatch
	</small>
</div>		 -->