/**   
 * Leave count Box 
 */
.leave-count{
    padding: 50px 0;
    left:0;
    right: 0;
    margin: auto;
    width: 120px;
    font-size: 30px;
    border:1px solid #ccc;
    background-color: #f1f1f1;
}