<div class="container article-section">
	<div class="row">
		<div class="col s6">
			<span class="staff-heading"><strong>Our Staff</strong></span>
		</div>
		<div class="right-align col s6 emp-action">
			<button type="button" class="btn btn-success" (click)= "navigateToForm()">Add Staff</button>
		</div>
	</div>
	<div class="form-group">
		<label>Sort</label>
		<select name="sort" class="form-control" [(ngModel)]="emp.sort">
			<option *ngFor="let sort of sorts" [ngValue]="sort">		
				{{sort | uppercase }}
			</option>
		</select>
	</div>
	<div class="search-box">
		<input type="text" class="form-control" name="search" id="search" placeholder="search" [(ngModel)]="result" />
	</div>
	<div class="scroller">
		<div *ngFor = "let employee of employees  | searchBy:['first_name']:result | orderBy: [emp.sort]">
			<div class="divider"></div>
			<div class="section">
				<h5>
					<strong>
						 {{employee?.first_name}} {{employee?.last_name}}
					</strong>
				</h5>
				<div class="row">
					<div class="col s8">
						<p>
							Email: {{employee?.email}}
						</p>
						<p>
							Date of Birth: {{employee?.dob}}
						</p>
					</div>
					<div class="right-align col s4 emp-action">
						<button type="button" 
								(click)="viewEmployee(employee)">
							<i class="fa fa-eye" 
								aria-hidden="true">
							</i>
						</button>
						<button type="button" 
								(click)="editEmployee(employee)">
						  	<i class="fa fa-pencil" 
						  	   aria-hidden="true">
						  	</i>
						</button>
						<button type="button" 
								data-toggle="modal" 
								data-target="#myModal" 
								(click)="deleteEmployee(employee)">
							<i class="fa fa-trash" 
							   aria-hidden="true">
							</i>
						</button>
					</div>
				</div>
				<div class="clear-both"></div>
			</div>
			<div class="divider"></div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title text-center">Confirm</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure to delete ? </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalConfirmation()">Yes</button>
				<button type="button" class="btn btn-default  pull-left" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<footer class="container-fluid text-center">
	<p>Powered By Logiciel Solutions &#169; 2017</p>
</footer>