.container {
	width: 100%;
	margin: auto;
}
.leave-details h6{
	width: 70%;
}
.detail-Heading{
	color: #777777;
}
.detail-Heading p{
	padding-left: 100px;
}

.btn-chat{
	margin-top: 9px;
	color: #fff;
	background-color: #286090;
}

.chat {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9 ;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}


.chat li .chat-body p {
	margin: 0;
	color: #777777 ;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}

.panel-primary {
	border-color: #26a69a ;
}
.panel-heading {
	border-color: #26a69a ;
	background-color: #26a69a ;
}

.panel-body {
	overflow-y: scroll;
	height: 400px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5 ;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5 ;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.user {
	display: inline-block;
	padding: 20px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.switch button{
	padding:4px 10px;
	border-radius: 25px;
	color: #fff;
}
.approve {
	background-color:#286090 !important;
	color: #fff;
}
.disapprove {
	background-color:#888383 ;
}
.leave-detail-heading{
	border-bottom: 1px solid #ccc;
	padding: 6px 9px 13px 9px;
}
.switch{
	margin-top: -3px;
}