<!-- Run loader before get data -->
<lst-loader [isRunning]="isRequesting"></lst-loader>

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4 col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change Password</h3>
                    </div>
                    <div class="panel-body" >
                        <form role="form" [formGroup]="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control"
                                        placeholder="Current Password"
                                        type="password"
                                        [(ngModel)]="data.currentPassword" 
                                        formControlName="currentPassword">
                                    <div class="error" *ngIf="form.controls.currentPassword.errors && form.controls.currentPassword.touched">
                                        <span *ngIf="form.controls.currentPassword.errors.required">
                                            {{ msg?.REQUIRED }}
                                        </span>
                                        <span *ngIf="!form.controls.currentPassword.errors.required && form.controls.currentPassword.errors.minlength">
                                            {{ msg?.PASSWORD_LENGTH }}
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control"
                                        placeholder="New Password"
                                        type="password"
                                        [(ngModel)]="data.newPassword" 
                                        formControlName="newPassword">
                                    <div class="error" *ngIf="form.controls.newPassword.errors && form.controls.newPassword.touched">
                                        <span *ngIf="form.controls.newPassword.errors.required">
                                            {{ msg?.REQUIRED }}
                                        </span>
                                        <span *ngIf="!form.controls.newPassword.errors.required && form.controls.newPassword.errors.minlength">
                                            {{ msg?.PASSWORD_LENGTH }}
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control"
                                        placeholder="Confirm Password"
                                        type="password"
                                        [(ngModel)]="data.confirmPassword" 
                                        formControlName="confirmPassword">
                                    <div class="error" *ngIf="form.controls.confirmPassword.errors && form.controls.confirmPassword.touched">
                                        <span *ngIf="form.controls.confirmPassword.errors.required">
                                            {{ msg?.REQUIRED }}
                                        </span>
                                        <span *ngIf="!form.controls.confirmPassword.errors.required && form.controls.confirmPassword.errors.minlength">
                                            {{ msg?.PASSWORD_LENGTH }}
                                        </span>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-success pull-right"
                                    [disabled]="!form.valid"
                                    (click)="changePassword()">
                                    Update
                                </button>
                                <a class="btn btn-sm btn-primary pull-left"
                                    (click)="goToDasgboard()">
                                    Cancel
                                </a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>