<!-- Run loader before get data -->
<lst-loader [isRunning]="isRequesting"></lst-loader>
<!-- main container -->
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-md-4">
            <div class="login-panel panel panel-default">
                <div class="text-center">
                    <h1>LST</h1>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Please enter your email to get reset password link.</h3>
                </div>
                <div class="panel-body">
                    <form role="form" [formGroup]="forgetPasswordForm">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control"
                                    placeholder="E-mail"
                                    name="email"
                                    type="email"
                                    autofocus
                                    [(ngModel)]="email"
                                    formControlName="email">
                                <div class="error" *ngIf="forgetPasswordForm.controls.email.errors && forgetPasswordForm.controls.email.touched">
                                    <span *ngIf="forgetPasswordForm.controls.email.errors.required">
                                        {{ msg?.REQUIRED }}
                                    </span>
                                    <span *ngIf="!forgetPasswordForm.controls.email.errors.required && forgetPasswordForm.controls.email.errors.pattern">
                                        {{ msg?.INVALID }}
                                    </span>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-success btn-block"
                                [disabled]="!forgetPasswordForm.valid"
                                (click)="reset(email)">
                                Proceed
                            </button>
                             <div class="btn form-group pull-right">
                                <a routerLink="/login">Click here to Login</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>            
	</div>
</div>
